{
  "main_menu": {
    "bottom_right": [
      {
        "text": "{{name}} {{packVersion}}",
        "color": "gray",
        "click_event": {
          "action": "open_url",
          "url": "https://modrinth.com/modpack/slm"
        },
        "hover_event": {
          "action": "show_text",
          "value": "modrinth.com/modpack/slm"
        }
      },
      {
        "text": "Minecraft {{minecraft}} · Fabric",
        "color": "dark_gray"
      }
    ]
  },
  "pause_menu": {
    "bottom_right": [
      {
        "text": "{{name}} {{packVersion}}",
        "color": "dark_gray"
      }
    ]
  }
}
