version:4671
ao:true
graphicsPreset:"custom"
cutoutLeaves:true
biomeBlendRadius:1
entityDistanceScaling:0.75
entityShadows:false
mipmapLevels:2
maxAnisotropyBit:0
textureFiltering:0
particles:1
renderClouds:"fast"
cloudRange:32
renderDistance:8
simulationDistance:5
weatherRadius:5
prioritizeChunkUpdates:0
improvedTransparency:false
vignette:false
enableVsync:false
fullscreen:true
maxFps:260
inactivityFpsLimit:"afk"
guiScale:2
narrator:0
darkMojangStudiosBackground:true
menuBackgroundBlurriness:0
musicToast:"never"
skipMultiplayerWarning:true
joinedFirstServer:true
telemetryOptInExtra:false
onboardAccessibility:false
tutorialStep:none
resourcePacks:["vanilla","file/{{resourcepack:fast-better-grass}}","file/{{resourcepack:recolourful-containers-gui-hud-dark}}","file/{{resourcepack:qraftys-capitalized-font}}","continuity:glass_pane_culling_fix"]
incompatibleResourcePacks:[]
